/*
Light Blue: #75BAD5
Dark Blue: #629FAF
Red: #FF4081
Gray: #ddd</color>
Lighter gray: #F5F5F5
*/

html{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	min-height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #75BAD5;
	color: #fff;
}
a:hover{
	text-decoration: none;
}

/* Navbar */
#navbar{
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 70px;
	background: #629FAF;
}
#navbar h3{
	font-size: 20px;
	font-weight: lighter;
	margin-top: 30%;
}
#navbar h4{
	font-size: 20px;
	font-weight: lighter;
	color: #fff;
	margin-top: 12.5%;
	text-align: left;
}
#navbar #logo{
	width: 100%;
	margin-top: 15%;
	cursor: pointer;
}

/* Wrapper */
#wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding-top: 70px;
}
/* Title */
.wrapper-title{
	position: relative;
  width: 100%;
	min-height: 50%;
  text-align: center;
	padding-top: 10px;
}
.wrapper-title h1{
	margin-top: 5px;
	font-size: 30px;
	font-weight: lighter;
}
.wrapper-title img{
	width: 15%;
}
/* Table */
.wrapper-table{
	width: 80%;
	margin-top: 15px;
	margin-left: 10%;
}
.wrapper-table thead{
	margin-top: 10px;
	background: #629FAF;
}
.wrapper-table table thead th{
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
	border: 1px solid #629FAF;
}
.wrapper-table tbody tr{
	border: 1px solid #629FAF;
	color: #fff;
	transition: all 0.7s ease-in-out !important;
			-moz-transition: all 0.7s ease-in-out !important;
			-ms-transition: all 0.7s ease-in-out !important;
			-o-transition: all 0.7s ease-in-out !important;
			-webkit-transition: all 0.7s ease-in-out !important;
}
.wrapper-table tbody tr:hover{
	background: #68AAC1;
	color: #fff;
}
.wrapper-table table tbody tr{
	font-size: 15px;
	font-weight: lighter;
	text-align: center;
}
.wrapper-table table tbody tr td img{
	width: 50%;
}
.wrapper-table table tbody tr td{
	padding-top: 10px;
	border-top: 1px solid #629FAF;
}
.wrapper-table .glyphicon{
	color: #ddd;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.3s ease-in-out !important;
			-moz-transition: all 0.3s ease-in-out !important;
			-ms-transition: all 0.3s ease-in-out !important;
			-o-transition: all 0.3s ease-in-out !important;
			-webkit-transition: all 0.3s ease-in-out !important;
}
.wrapper-table .glyphicon:hover{
	color: #fff;
	font-weight: bold;
}
.row-name{
	cursor: pointer;
	transition: all 0.3s ease-in-out !important;
			-moz-transition: all 0.3s ease-in-out !important;
			-ms-transition: all 0.3s ease-in-out !important;
			-o-transition: all 0.3s ease-in-out !important;
			-webkit-transition: all 0.3s ease-in-out !important;
}
.row-name:hover{
	font-weight: bold;
}
/* Header */
.wrapper-header{
	position: relative;
  width: 80%;
	min-height: auto;
	margin-top: 3%;
	margin-left: 10%;
	padding-top: 10px;
  text-align: left;
}
.wrapper-header h1{
	font-weight: lighter;
	margin-top: 10px;
	font-size: 25px;
}
.wrapper-header h1 strong{
	font-weight: bold;
}
.wrapper-header h4{
	font-weight: lighter;
	font-style: italic;
}

/* Header-content */
.wrapper-header-content{
	position: relative;
  width: 80%;
	min-height: auto;
	margin-top: 1%;
	margin-left: 10%;
	padding-top: 10px;
  text-align: left;
	background: #FF4081;
}
.wrapper-header-content img{
	width: 100%;
}
.wrapper-header-content h1{
	font-weight: lighter;
	margin-top: 5px;
	font-size: 20px;
}
/* Content */
.wrapper-content{
	position: relative;
  width: 80%;
	min-height: auto;
	margin-left: 10%;
	margin-bottom: 10%;
  text-align: left;
	border: 1px solid #629FAF;
	padding: 20px;
}
.wrapper-content .row{
	margin-bottom: 20px;
}
.wrapper-content img{
	width: 95%;
	padding: 5px;
	transition: all 0.7s ease-in-out !important;
			-moz-transition: all 0.7s ease-in-out !important;
			-ms-transition: all 0.7s ease-in-out !important;
			-o-transition: all 0.7s ease-in-out !important;
			-webkit-transition: all 0.7s ease-in-out !important;
}
.wrapper-content img:hover{
	width: 100%;
	padding: 2px;
}
.wrapper-content h3{
	font-size: 20px;
	font-weight: lighter;
	margin-top: 5px;
}
.wrapper-content h5{
	font-size: 16px;
	font-style: italic;
	font-weight: lighter;
	width: 20%;
}
.wrapper-content h6{
	font-size: 16px;
	width: 80%;
	margin-bottom: 5%;
}
.wrapper-content .input-group {
	display: inline-flex;
	width: 100%;
}
.wrapper-short{
	width: 50%;
	margin-right: 15%;
}
.wrapper-content .form-control{
	font-size: 16px;
	display: inline;
	height: 100%;
	width: 80%;
	color: #fff;
	font-weight: bold;
  background-color: transparent;
  border: 1px solid #629FAF;
	transition: all 0.3s ease-in-out !important;
			-moz-transition: all 0.3s ease-in-out !important;
			-ms-transition: all 0.3s ease-in-out !important;
			-o-transition: all 0.3s ease-in-out !important;
			-webkit-transition: all 0.3s ease-in-out !important;
}
.wrapper-content .form-control:focus{
  border: 1px solid #fff;
}
.wrapper-content .form-control::placeholder{
	font-weight: lighter;
	font-style: italic;
  color: #629FAF;
}
.btn-default {
    color: #fff;
		font-weight: bold;
    background-color: #629FAF;
    border-color: #629FAF;
		transition: all 0.3s ease-in-out !important;
				-moz-transition: all 0.3s ease-in-out !important;
				-ms-transition: all 0.3s ease-in-out !important;
				-o-transition: all 0.3s ease-in-out !important;
				-webkit-transition: all 0.3s ease-in-out !important;
}
.btn-default:hover {
    color: #fff;
    background-color: #FF4081;
    border-color: #FF4081;
}
.btn-navbar{
	font-size: 20px;
  margin-top: 10px;
  font-weight: lighter;
}
/* Settings */
.wrapper-settings{
	position: relative;
	min-height: auto;
	border: 1px solid #629FAF;
	background: #75BAD5;
	padding: 20px;
	margin-bottom: 10%;
}
.wrapper-form{
	padding: 0 5% 5% 5%;
}
.extra-padding{
	padding: 10px !important;
}
.extra-margin{
	margin-bottom: 5%;
}
.no-padding{
	padding: 0 !important;
}
.no-margin{
	margin: 0 !important;
}

/* Searchbar */
.row-padding {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (max-width: 1024px) and (orientation: portrait) and (min-width: 768px){}
@media (max-width: 1024px){}
@media (max-width: 767px) and (orientation: portrait){}
